{% extends "base.html" %} {% block content %}

<h1>Finches Detail</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ finches.name }}</span>
        <p>Species: {{ finches.species }}</p>
        <p>Description: {{ finches.description }}</p>
        {% if finches.age > 0 %}
        <p>Age: {{ finches.age }}</p>
        {% else %}
        <p>Age: Chick</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'finches_update' finches.id %}">Edit</a>
        <a href="{% url 'finches_delete' finches.id %}">Delete</a>
    </div>
</div>

{% endblock %}